@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <h2><span class="glyphicon glyphicon-eye-open"></span> Find Events</h2>
         <p>Search for current events open for registration.</p>
        <a class="btn btn-default" href="#" role="button">Search Now!</a>
</div>
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <h2><span class="glyphicon glyphicon-folder-open"></span> Your Events</h2>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <h2>Discuss</h2>
    </div>
</div>