@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <h2><span class="glyphicon glyphicon-eye-open"></span> Find Events</h2>
         <p>Search for current events open for registration.</p>
        <button class="btn btn-default" href="#" role="button">Search Events</button>
</div>
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <h2><span class="glyphicon glyphicon-folder-open"></span> Your Events</h2>
        <p>See events you are currently registered for.</p>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
        <h2>Discuss</h2>
        <p>Visit the discussion board to talk about the events you are interested in.</p>
    </div>
</div>